#friends-display-link svg{
    width: 20px;
    height: 20px;
    bottom: 10px;
}
#friends-display-link {
    text-align: center;
    display: block;
    background-color:#fafafa;
    padding: 15px 0px;
}