.screen-header__icon svg{
    width: 35px;
    height: 35px;
    margin-left: 20px;
}

.screen-header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: var(--horizontal-space);
    background-color: lightgray;
    margin-bottom: 15px;
}
.screen-header__title{
    font-size: 32px;
    font-weight: 800;
}